.report-submission-container {
  display: flex; 
  flex-direction: column; 
  height: 100vh;
}

.header-box {
  width: calc(100%); /* Adjust 250px to match the width of your sidebar */
  margin-left: -5px; /* Adjust 250px to match the width of your sidebar */
  background: rgb(252, 252, 252);
  text-align: center;
  padding: 20px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) */
}

.header-box h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #333;
  margin-left: 150px;
}
.content-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
  flex: 1;
  margin-left: 275px;
  background-color: #f0f0f0;
  padding: 25px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  overflow-x: hidden;
}

.sub-container1,
.sub-container2 {
  background-color: #f9f9f9;
  padding: 30px;
  /* border: 1px solid #ddd; */
}

.sub-container1 {
  font-family: 'Poppins', sans-serif;
}

.sub-container1 h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 5px;
}

.sub-container1 ol {
  padding-left: 20px;
  font-size: 16px;
  text-align: justify;
}

.sub-container1 ol li {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}

.sub-container1 ol ol {
  padding-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  text-align: justify;
}

.sub-container1 ol ol li {
  list-style-type: decimal;
  font-size: 16px;
  text-align: justify;
}
