@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.nav_image img {
    height: 70px;
    width: 110px;
    object-fit: cover;
    align-items: center;
    margin-left: 50%;
    margin-bottom: 19px;
    margin-top: 5px;
}

.sidebar-locked {
    position: fixed;
    height: 100%;
    width: 280px;
    background: rgb(252, 252, 252);
    border-radius: 0px;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.sidebar-locked:hover {
    box-shadow: 0 0 20px rgb(192, 239, 255); 
}

.flex {
    display: flex;
    align-items: center;
}

.logo_name {
    font-size: 23px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -90px;
    margin-left: -83px;
}

.logo_items {
    gap: 5px;
    margin-top: -5px;
    margin-bottom: -15px;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    overflow-y: auto;
    height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
    display: none;
}

.menu_title {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    display: inline;
    justify-content: center;
}

.menu_title .title {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    text-indent: 24px;
    position: relative;
    border-radius: 8px;
    color: rgb(121, 121, 121);
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(240, 240, 240);
}

.item {
    list-style: none;
    margin-top: 6px;
}

.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 5px;
    color: rgb(75, 75, 75);
    transition: all 0.3s ease-in;
}

.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    border-radius: 4px;
}

.link span {
   
        white-space: nowrap;
        font-size: 16px; 
}

.link:hover,
.link.active {
    background-color: rgb(47, 194, 239); /* Glassmorphic blue with transparency */
    color: #fff;
    padding-left: 12px;
    backdrop-filter: blur(12px); /* Increased blur on active */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
}


.item:hover {
    color: white;
}

.btm {
    border-top: 3.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 298px;
}

.Topbar {
    margin-left: 280px;
    background-color: rgb(46, 52, 50);
}

.content {
    margin-left: 280px; 
    padding: 25px; 
    flex: 1; 
}

.card {
    background: rgb(252, 252, 252);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px;
    min-width: calc(100% - 300px); 
    z-index: -1;
}

