/*========================= CSS VARIABLES ============================*/
:root{
     /*=============== Font Weight ==================*/
     --weight-400: 400;
     --weight-500: 500;
     --weight-600: 600;
     --weight-700: 700;
     --weight-800: 800;
     --weight-900: 900;
}